In [1]:
import pandas as pd

In [ ]:
#tuple 
data = (
    ['KFC', '1000', '4.5'], 
    ['McDonald', '2000', '3.9'], 
    ['SchoolFood', '2500', '4.2'],
)

In [ ]:
#inserting column names
df = pd.DataFrame(data, columns = ['food', 'price', 'rating'])
df

         food price rating
0         KFC  1000    4.5
1    McDonald  2000    3.9
2  SchoolFood  2500    4.2

In [ ]:
# food 컬럼과 rating 컬럼만 선택하여 출력하세요
    # fancy indexing [[]]
print(df[['food', 'rating']])

         food rating
0         KFC    4.5
1    McDonald    3.9
2  SchoolFood    4.2

In [ ]:
# food 컬럼명을 place로 컬럼명을 변경해 주세요
df.rename(columns={'food': 'place'}, inplace=True)
        # {}랑 () 주의 
df

        place price rating
0         KFC  1000    4.5
1    McDonald  2000    3.9
2  SchoolFood  2500    4.2