In [1]:
import pandas as pd

In [3]:
first = pd.Series([3.0,5.0,7.0,9.0,11.0], dtype=float)
first

0     3.0
1     5.0
2     7.0
3     9.0
4    11.0
dtype: float64

In [7]:
sample = pd.Series([3.0,5.0,7.0,9.0,11.0], index=['가', '나', '다', '라', '마'])
sample

가     3.0
나     5.0
다     7.0
라     9.0
마    11.0
dtype: float64

In [ ]:
#printing rows with index values
sample[['나', '라']]

나    5.0
라    9.0
dtype: float64

In [16]:
import numpy as np 
np.random.seed(20)
sample2 = pd.Series(np.random.randint(100, 200, size=(15,)))
sample2

0     199
1     190
2     115
3     195
4     128
5     190
6     109
7     120
8     175
9     122
10    171
11    134
12    196
13    140
14    185
dtype: int64

In [18]:
sample2[sample2 <= 160]

2     115
4     128
6     109
7     120
9     122
11    134
13    140
dtype: int64

In [29]:
# pandas 에서는 & (not and or &&)
sample2[(sample2 <= 170) & (sample2 >= 130)]

11    134
13    140
dtype: int64

In [ ]:
# if you want to set NaN -> np.nan   
sample3 = pd.Series(['apple', np.nan, 'banana', 'kiwi', 'gubong'], dtype=object, index=['가', '나', '다', '라', '마'])
sample3

가     apple
나       NaN
다    banana
라      kiwi
마    gubong
dtype: object

In [37]:
sample = pd.Series(['IT서비스', np.nan, '반도체', np.nan, '바이오', '자율주행'])
sample

0    IT서비스
1      NaN
2      반도체
3      NaN
4      바이오
5     자율주행
dtype: object

In [39]:
sample[sample.isnull()]

1    NaN
3    NaN
dtype: object

In [40]:
np.random.seed(0)
sample = pd.Series(np.random.randint(100, 200, size=(10,)))
sample

0    144
1    147
2    164
3    167
4    167
5    109
6    183
7    121
8    136
9    187
dtype: int64

In [ ]:
#slicing 
sample[2:7]

2    164
3    167
4    167
5    109
6    183
dtype: int64

In [43]:
np.random.seed(0)
sample2 = pd.Series(np.random.randint(100, 200, size=(10,)), index=list('가나다라마바사아자차'))
sample2

가    144
나    147
다    164
라    167
마    167
바    109
사    183
아    121
자    136
차    187
dtype: int64

In [44]:
sample2[5:]

바    109
사    183
아    121
자    136
차    187
dtype: int64

In [45]:
sample2[:3]

가    144
나    147
다    164
dtype: int64

In [46]:
sample2[1:6]

나    147
다    164
라    167
마    167
바    109
dtype: int64